<script>
  var __setCssStartTime__ = Date.now();
  if (typeof __insertRootCompCss__ === 'function') __insertRootCompCss__('pages/common/orders/components/makeup-item/makeup-item');
  else __wxAppCode__['pages/common/orders/components/makeup-item/makeup-item.wxss']();;
  var __setCssEndTime__ = Date.now();
  (function() {
      var gf = $gwx_XC_75('./pages/common/orders/components/makeup-item/makeup-item.wxml');
      if (window.__wxAppCodeReadyCallback__) window.__wxAppCodeReadyCallback__(gf);
      else document.dispatchEvent(new CustomEvent('generateFuncReady', {
          detail: {
              generateFunc: gf
          }
      }));
  })();
</script>