<script>
  var __setCssStartTime__ = Date.now();
  if (typeof __insertRootCompCss__ === 'function') __insertRootCompCss__('pages/my/wallet/components/wallet-layout-item');
  else __wxAppCode__['pages/my/wallet/components/wallet-layout-item.wxss']();;
  var __setCssEndTime__ = Date.now();
  (function() {
      var gf = $gwx_XC_8('./pages/my/wallet/components/wallet-layout-item.wxml');
      if (window.__wxAppCodeReadyCallback__) window.__wxAppCodeReadyCallback__(gf);
      else document.dispatchEvent(new CustomEvent('generateFuncReady', {
          detail: {
              generateFunc: gf
          }
      }));
  })();
</script>