<script>
  var __setCssStartTime__ = Date.now();
  if (typeof __insertRootCompCss__ === 'function') __insertRootCompCss__('node-modules/@zebra-ui/swiper/components/z-swiper-shadow/z-shadow');
  else __wxAppCode__['node-modules/@zebra-ui/swiper/components/z-swiper-shadow/z-shadow.wxss']();;
  var __setCssEndTime__ = Date.now();
  (function() {
      var gf = $gwx_XC_32('./node-modules/@zebra-ui/swiper/components/z-swiper-shadow/z-shadow.wxml');
      if (window.__wxAppCodeReadyCallback__) window.__wxAppCodeReadyCallback__(gf);
      else document.dispatchEvent(new CustomEvent('generateFuncReady', {
          detail: {
              generateFunc: gf
          }
      }));
  })();
</script>